<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>

<form action="/signup" method="POST">
    <h2>Sign Up</h2>

    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <div th:if="${signupUsernameMessage}" th:text="${signupUsernameMessage}"></div>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <div th:if="${emailMessage}" th:text="${emailMessage}"></div>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <div th:if="${signupPasswordMessage}" th:text="${signupPasswordMessage}"></div>

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <div th:if="${confirmPasswordMessage}" th:text="${confirmPasswordMessage}"></div>

    <label for="country">Country:</label>
    <select id="country" name="country" required>
        <option value="usa">USA</option>
        <option value="canada">Canada</option>
        <option value="uk">UK</option>
    </select>

    <label for="dateOfBirth">Date Of Birth:</label>
    <input type="Date" id="dateOfBirth" name="dateOfBirth" required>
    <div th:if="${dateOfBirthMessage}" th:text="${dateOfBirthMessage}"></div>
    <div th:if="${dateOfBirthMessage2}" th:text="${dateOfBirthMessage2}"></div>

    <button type="submit">Sign Up</button>
    <a href="/login">Already Have An Account? Login</a>
</form>

</body>
</html>
